<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>

<!DOCTYPE html>
<html>
  <body>
    <div id="content">
      <div class="left-column">
        <div class="login-btn-position">
          <button class="circle-btn" onclick="href.location='login'">
            Login
          </button>
        </div>
        <div class="top-hit-btn-position">
          <button type="button" class="circle-btn">
            Global Top Hits
          </button>
        </div>
        <div class="worst-btn-position">
          <button type="button" class="circle-btn">
            Worst of All-Time
          </button>
        </div>
      </div>

      <div class="middle-column">
        <div class="circle-container">
          <h1>
            Popcorn
          </h1>
          <div class="search-input">
            <input type="text" placeholder="Enter something here" />
            <button>
              Search
            </button>
            <button class="search-btn" href="#">
              Advance Search
            </button>
          </div>
          <p>
            Contact Us
          </p>
          <div class="contact">
            <div class="contact-wrapper">
              <img
                class="cntct-img"
                src="https://www.freepnglogos.com/uploads/instagram-logos-png-images-free-download-2.png"
              />
              <a></a>
              <img
                class="cntct-img"
                src="https://cdn-icons-png.flaticon.com/128/733/733547.png"
              />
              <a></a>
              <img
                class="cntct-img"
                src="https://www.freepnglogos.com/uploads/linkedin-shiny-icon-logo-5.png"
              />
              <a></a>
              <img
                class="cntct-img"
                src="https://cdn-icons.flaticon.com/png/512/3670/premium/3670157.png?token=exp=1634583320~hmac=ea771588f78b6f3698655bdd0af0f0a0"
              />
              <a></a>
            </div>
          </div>
        </div>
      </div>

      <div class="right-column">
        <div class="west-btn-position">
          <button class="circle-btn">
            Best in Western
          </button>
        </div>
        <div class="east-btn-position">
          <button class="circle-btn">
            Best in Eastern
          </button>
        </div>
        <div class="rand-btn-position">
          <button class="circle-btn">
            Random Movies
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
