<html>
  <head><title>SIGNUP PAGE</title></head>
<body>
  <div class="content">
    <div class="login-section">
      <h1>
        Create an account
      </h1>
      <form action="" method="POST">
        <div class="form-wrapper">
          <div class="form-input">
            <p>Username</p>
            <input type="text" placeholder="Username" name="username" value="{{request.form.username}}" />

          <div class="form-input">
            <p>Password</p>
            <input
              type="password"
              minlength="8"
              placeholder="Password"
              name="password"
              value="{{request.form.password}}"
              required
            />
          </div>
        </div>
        <div class="button-wrapper">
          <button type="submit" class="btn">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>